
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>
<table class="table table-hover table-striped">
    <tbody>
        <tr>
            <th>Employee Id</th>
            <td>@Model.empId</td>
        </tr>
        <tr>
            <th>Employee Name</th>
            <td>@Model.empName</td>
        </tr>
        <tr>
            <th>City</th>
            <td>@Model.city</td>
        </tr>
        <tr>
            <th>Country</th>
            <td>@Model.country</td>
        </tr>
        <tr>
            <th>Phone number</th>
            <td>@Model.phone</td>
        </tr>
        <tr>
            <th>Email</th>
            <td>@Model.email</td>
        </tr>
        <tr>
            <th>Skill Sets</th>
            <td>@Model.skillset</td>
        </tr>

        <tr>
            <th>Zip Code</th>
            <td>@Model.zipcode</td>
        </tr>
    </tbody>
</table>
