
@{
    ViewBag.Title = "List1";
}

<h1>Employees Dashbord</h1>

<main>
    <section>
        @if(Model.Count > 0)
        {
        <table class="table table-hover table-striped">
            <thead>
                <tr>
                    <th>Employee Id</th>
                    <th>Name</th>
                    <th>country</th>
                    <th>Email</th>
                    <th>Avatar</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var employee in Model)
                {
                    <tr>
                        <td>@employee.empId</td>
                        <td>@employee.empName</td>
                        <td>@employee.country</td>
                        <td>@employee.email</td>
                        <td>@employee.avatar</td>
                        <td> @Html.ActionLink("Show Details", "Details", new { id = employee.empId }, new { @class = "btn btn-info" })</td>
                    </tr>
                }
            </tbody>
        </table>
        <p>@Html.ActionLink("Add employee", "Create", new { @class = "btn btn-info" })</p>
        }
else
            {
                <h1>No employee record present yet!!!</h1>
            }
    </section>
</main>