
@{
    ViewBag.Title = "List1";
}

<h2>List1</h2>

<main>
    <section>
        <h1>Hello Employee</h1>
        <table class="table table-hover table-striped">
            <thead>
                <tr>
                    <th>Employee Id</th>
                    <th>Name</th>
                    <th>city</th>
                    <th>country</th>
                    <th>phone</th>
                    <th>Email</th>
                    <th>Skills</th>
                    <th>Avatar</th>
                    <th>Zip</th>

                </tr>
            </thead>
            <tbody>
                @foreach (var employee in Model)
                {
                    <tr>
                        <td>@employee.empId</td>
                        <td>@employee.empName</td>
                        <td>@employee.city</td>
                        <td>@employee.country</td>
                        <td>@employee.phone</td>
                        <td>@employee.email</td>
                        <td>@employee.skillset</td>
                        <td>@employee.avatar</td>
                        <td>@employee.zipcode</td>
                    </tr>
                }
            </tbody>
        </table>
    </section>
</main>