
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<main>
    <section>
        @if (Model.Count > 0)
        {
            <table class="table table-hover table-striped">
                <thead>
                    <tr>
                        <th>User Id</th>
                        <th>Email</th>
                        <th>Work</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var user in Model)
                    {
                        <tr>
                            <td>@user.userId</td>
                            <td>@user.email</td>
                            <td>@user.rolename</td>
                            <td>
                                @Html.ActionLink("Show Details", "Details", new { id = user.userId }, new { @class = "btn btn-warning" })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <p >@Html.ActionLink("Add User", "Create", new { @class = "btn btn-primary" })</p>
        }
        else
        {
            <h1>No User register yet!!!</h1>
        }
    </section>
</main>